<h2 mat-dialog-title>Dialog Title</h2>
<mat-dialog-content>
  Height: {{ data.height }}, Width: {{ data.width }}
  <form>
    <mat-form-field hideRequiredMarker>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="datepicker">
      <mat-datepicker-toggle matSufix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>Amount</mat-label>
      <input matInput type="number" required>
      <!-- <mat-hint align="end">This is a hint for the input</mat-hint> -->
    </mat-form-field>
    <br>
    <mat-form-field hideRequiredMarker>
      <mat-label>Student Name</mat-label>
      <input matInput type="text" required>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>Student Grade</mat-label>
      <mat-select required>
        <mat-option>K</mat-option>
        <mat-option>1</mat-option>
        <mat-option>2</mat-option>
        <mat-option>3</mat-option>
        <mat-option>4</mat-option>
        <mat-option>5</mat-option>
        <mat-option>6</mat-option>
        <mat-option>7</mat-option>
        <mat-option>8</mat-option>
        <mat-option>9</mat-option>
        <mat-option>10</mat-option>
        <mat-option>11</mat-option>
        <mat-option>12</mat-option>
      </mat-select>
      <mat-hint align="start">This is a hint for the select</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field hideRequiredMarker>
      <mat-label>Textarea</mat-label>
      <textarea matInput required></textarea>
      <mat-error>This is an error for the textarea</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field hideRequiredMarker>
      <mat-label>Student House</mat-label>
      <mat-select required>
        <mat-option>David</mat-option>
        <mat-option>Deborah</mat-option>
        <mat-option>Esther</mat-option>
        <mat-option>Gideon</mat-option>
      </mat-select>
      <mat-hint align="start">This is a hint for the select</mat-hint>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>Teacher</mat-label>
      <input matInput type="text" required>
      <mat-error>This is an error for the textarea</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true">Confirm</button>
</mat-dialog-actions>
